<div class="container">
    <div class="row">
        <div class="todo-wrapper col-9">
            <h1>TODOs</h1>

            <%= render "layouts/flash" %>
            <%= render "todos/todo" %>
        </div>

        <div class="cat-wrapper col-3">
            <h3>Categories</h3>
            <%= render partial: "categories/category" %>
        </div>
    </div>
</div>

