<div calss="todo-wrapper">
    <h1>TODOs</h1>

    <% flash.each do |key, msg| %>
        <%= content_tag :div, msg, class: "flash", id: key %>
    <% end %>

    <%= render partial: "todo", collection: @todos %>

    <div class="create-todo-form">
        <%= render "todos/form" %>
    </div>
</div>

<div class="cat-wrapper">
    <h3>Categories</h3>

    <%= render partial: "categories/category", collection: @categories %>

</div>


