<ul>
    <li>
        <span class="cat"><%= link_to category.name, category_path(category) %></span> 
        <button><%= link_to "Edit", edit_category_path(category)%></button>
        <button><%= link_to "Delete", category_path(category), method: :delete, data: { confirm: 'Are you sure?' } %></button>
    </li>
</ul>