<%= form_for @category_new, html: {class: "cat-form", autocomplete: "off"} do |f| %>
  <div class="input-group">
        <%= f.text_field :name, placeholder: "New Category", class: "form-control form-cat-name" %>
    <div class="input-group-append">
    <%= f.submit "+", class: "btn submit-btn" %>
    </div>
  </div>
<% end %>