<%= form_for @category_new, html: {class: "cat-form", autocomplete: "off"} do |f| %>
    <div class="input-group">
        <%= f.text_field :name, placeholder: "New Category", class: "form-control" %>
    <div class="input-group-append">
    <%= f.submit "+", class: "btn btn-outline-secondary" %>
    </div>
  </div>
<% end %>