
<h1>TODO Categories</h1>

<% @categories.each do |cat|%>
    <ul>
        <li>
            <span class="cat"><%= link_to cat.name, category_path(cat) %></span> 
            <button><%= link_to "Edit", edit_category_path(cat)%></button>
            <button><%= link_to "Delete", category_path(cat), method: :delete, data: { confirm: 'Are you sure?' } %></button>
        </li>
    </ul>
<%end%>


