<div class="container">
    <div class="row">
        <div class="todo-wrapper col-9">
            <h2>
              <strong>Category:</strong>
              <%= @category.name %><br/>
            </h2>

            <%= render "layouts/flash" %>
            <%= render "todos/todo" %>
        </div>

        <div class="cat-wrapper col-3">
            <%= render partial: "categories/category" %>
        </div>
    </div>
</div>


