<% flash.each do |key, msg| %>
    <% if key.eql? "error" %>
    <div class="flash alert alert-danger" id="<%= key %>">
    <% else %>
    <div class="flash alert alert-success" id="<%= key %>">
        <%= msg %>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <% end %>
<% end %>